{% extends 'base.html.twig' %}
{% block title 'Panier' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('index') }}
	{{ encore_entry_link_tags('cart') }}
{% endblock %}

{% block h1 'Votre Panier' %}
{% block body %}
	{# vue panier (ultra simpliste pour l'instant ) #}
	{# <h1>Votre panier</h1> #}
		<main class="container grey lighten-5"> {% if items|length > 0 %}
			{% for item in items %}

				<div class="col s12 m7">
					<h2 class="header">{{ item.product.name }}</h2>
					<div class="card horizontal">
						<div class="card-image">
							<img src="http://placehold.it/200x200">
						</div>
						<div class="card-stacked">
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information.</p>
								<p>Quantité :</p>
								<div class="dropdownn">
									<button id="dropbtn1" class="dropbtn">{{ item.quantity }}</button>
									<div id="myDropdownn" class="dropdownn-content">
										<a href="{{ path('cart_modify', {'id': item.product.id, 'valeurUser': 1}) }}">1</a>
										<a href="{{ path('cart_modify', {'id': item.product.id, 'valeurUser': 2}) }}">2</a>
										<a href="{{ path('cart_modify', {'id': item.product.id, 'valeurUser': 3}) }}">3</a>
										<a href="{{ path('cart_modify', {'id': item.product.id, 'valeurUser': 4}) }}">4</a>
										<a href="{{ path('cart_modify', {'id': item.product.id, 'valeurUser': 5}) }}">5</a>
										<a href="{{ path('cart_modify', {'id': item.product.id, 'valeurUser': 6}) }}">6</a>
										<a href="{{ path('cart_modify', {'id': item.product.id, 'valeurUser': 7}) }}">7</a>
										<a href="{{ path('cart_modify', {'id': item.product.id, 'valeurUser': 8}) }}">8</a>
										<a href="{{ path('cart_modify', {'id': item.product.id, 'valeurUser': 9}) }}">9</a>
									</div>
								</div>
								<p>Prix unitaire :
									{{ item.product.price }}
									&euro;</p>
								<p>Prix total :
									{{ item.product.price * item.quantity }}
									&euro;</p>
							</div>
							<div class="card-action">
								<a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="">
									Supprimer
									<i class="material-icons">delete</i>
								</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="total">
				<p>Montant total :
					{{ total }}
					&euro;</p>
			</div>
		{% else %}
			<div class="center">
				<p>Panier Vide</p>
				<i class="material-icons">sentiment_dissatisfied</i>
			</div>
		{% endif %}
	</main>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('index') }}
	{{ encore_entry_script_tags('cart') }}
{% endblock %}
