{% extends 'base.html.twig' %}

{% block title 'Panier' %}

{% block h1 'Votre Panier' %}

{% block body %}
	{# vue panier (ultra simpliste pour l'instant ) #}

	<main class="orangeTransparent container">
		<div class="divContinueShopping">
		<p ><a class="ContinueShopping" href="{{ path('ct404_product_index') }}">Continuer mes achats</a> </p>
		</div>
		{% if items|length > 0 %}
			{% set compteur = 0 %}
			{% for item in items %}
				{% set compteur = compteur + 1 %}
				<div class="produit col s12 m7">
					<h2 id="product{{ item.product.id }}" class="header h3">Produit n°{{ compteur }}</h2>
					<div class="card horizontal">
						<div class="card-image">
							<img src="http://placehold.it/200x200">
						</div>
						<div class="card-stacked">
							<div class="card-content">
								<h3 class="header h4">{{ item.product.name }}</h3>
								<p>{{ item.product.description }}</p>
								<h4 class="h6">Quantité :</h4>

								{#	TODO : METTRE LES NOUVEAUX LIENS  #}
								<a href="{{ path('cart_subtract', {'id': item.product.id}) }}" class="subBtn btn-small "><i class="material-icons">remove</i></a>
								<div class="dropdownn">
									<button id="dropbtn{{loop.index}}" class="dropbtn btn-large">{{ item.quantity }}</button>
									<div id="myDropdownn{{loop.index}}" class="dropdownn-content">
										{% for i in 1..9 %}
											<a class="quantityByUser" href="{{ path('cart_modify', {'id': item.product.id, 'valeurUser': i}) }}">{{ i }}</a>
										{% endfor %}
									</div>
									<a href="{{ path('cart_add', {'id': item.product.id}) }}" class="addBtn btn-large "><i class="material-icons">add</i></a>
							</div>
								<p>Prix unitaire :
									{{ item.product.price }}
									&euro;</p>
								<p>Prix total :
									{{ item.product.price * item.quantity }}
									&euro;</p>
							</div>
							<div class="card-action">
								<a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="deleteAProduct">
									Supprimer
									<i class="material-icons">delete</i>
								</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="total">
				<p>Montant total :
					{{ total }}
					&euro;</p>
			</div>
			<span id="compteur">{{ compteur }}</span>
		{% else %}
			<div class="center">
				<p class="cart">Votre panier est Vide</p>
				<p><a class="backToShopping" href="{{ path('ct404_product_index') }}">retour aux achats</a> </p>
				<i class="material-icons">sentiment_dissatisfied</i>
			</div>
		{% endif %}
	</main>
{% endblock %}
