{# {% extends 'base.html.twig' %} #}
{% block body %}
	{# vue panier (ultra simpliste pour l'instant ) #}
	<h1>Votre panier</h1>
	{% if items|length > 0 %}
		<div class="grey lighten-5">
			<table class="table">
				<thead>
					<th>
						<tr>Produit</tr>
						<tr>Prix</tr>
						<tr>Quantité</tr>
						<tr>Total</tr>
					</th>
				</thead>
				<tbody>
					{% for item in items %}
						<tr>
							<td>{{ item.product.name }}</td>
							<td>{{ item.product.price }} &euro;</td>
							<td>
								<a href="{{ path('cart_subtract', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
									-
								</a>
								{{ item.quantity }}
								<a href="{{ path('cart_add', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
									+
								</a>
							</td>
							<td>{{ item.product.price * item.quantity }} &euro;</td>
							<td>
								<a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
									Supp
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">Total :</td>
						<td>{{ total }}
							&euro;</td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>
	{% else %}
		<p>Panier Vide</p>
	{% endif %}
{% endblock %}
