{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block h1 %}
    {#  If user is connected  #}
    {% if app.user %}
        Se déconnecter
    {% else %}
        Se connecter
    {% endif %}
{% endblock %}

{% block body %}
    <main class="container">
        <form method="post">
            <section class="row section">

                {% if error %}
                    <div class="orange darken-4 white-text center-align">
                        <i class="large material-icons mb-auto">report</i>
                        {#  Display the login errors  #}
                        <div class="flow-text">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    </div>
                {% endif %}

                {#  If user is log  #}
                {% if app.user %}
                    <div class="center-align">
                        <p>Vous êtes connecté avec {{ app.user.username }}</p>
                        {#  If user have to confirm email  #}
                        {% if is_granted('ROLE_NOT_VALID') %}
                            <p class="red white-text">Veuillez valider votre email pour effectuer des achats</p>
                        {% endif %}
                        <a class="btn" href="{{ path('app_logout') }}" title="se deconnecter">Se Deconnecter</a>
                    </div>
                {#   If user is not log   #}
                {% else %}
                    <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="validate" required autofocus>
                    </div>
                    <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="validate" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}
                    <div class="center-align col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                        <button class="btn" type="submit">
                            se connecter
                        </button>
                    </div>
                    <div class="center-align col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                        <a href="{{ path('app_register') }}" title="S'inscrire">S'inscrire</a>
                    </div>
                    <small class="center-align col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                        <a href="{{ path('app_forgot_pwd') }}" title="Changer de mot de passe">Mot de passe oublié</a>
                    </small>
                {% endif %}

            </section>
        </form>

    </main>
{% endblock %}
