{% extends 'base.html.twig' %}

{% block title %}Ct404Supplier index{% endblock %}

{% block body %}
    <h1>Ct404Supplier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>ZipCode</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct404_supplier in ct404_suppliers %}
            <tr>
                <td>{{ ct404_supplier.id }}</td>
                <td>{{ ct404_supplier.name }}</td>
                <td>{{ ct404_supplier.address }}</td>
                <td>{{ ct404_supplier.city }}</td>
                <td>{{ ct404_supplier.zipCode }}</td>
                <td>{{ ct404_supplier.phoneNumber }}</td>
                <td>{{ ct404_supplier.email }}</td>
                <td>
                    <a href="{{ path('ct404_supplier_show', {'id': ct404_supplier.id}) }}">show</a>
                    <a href="{{ path('ct404_supplier_edit', {'id': ct404_supplier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct404_supplier_new') }}">Create new</a>
{% endblock %}
