{% extends 'base.html.twig' %}

{% block title %}{{ ct404_product.name }}{% endblock %}

{% block h1 %}Détails{% endblock %}

{% block body %}
<main class="container">
    <div class="product">
        <div class="orangeTransparent valign-wrapper center-align section row" id="productTitle">
            <div class="col s8">
                <h2 id="titleH2">{{ ct404_product.name }}</h2>
            </div>
            <div class="col s4">
                <img class="responsive-img" src="http://placehold.it/200x200" alt="{{ ct404_product.name }}">
            </div>
        </div>
    </div>
    <div>

    </div>
    <div class="white">
    <table class="responsive-table striped">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ ct404_product.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ ct404_product.price }}</td>
            </tr>
            <tr>
                <th>StockQuantity</th>
                <td>{{ ct404_product.stockQuantity }}</td>
            </tr>
            <tr>
                <th>AlertQuantity</th>
                <td>{{ ct404_product.alertQuantity }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('ct404_product_index') }}">back to list</a>

    <a href="{{ path('ct404_product_edit', {'id': ct404_product.id}) }}">edit</a>

    {{ include('ct404_product/_delete_form.html.twig') }}
    </div>
</main>
{% endblock %}
