{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block h1 'Bienvenue' %}

{% block body %}

<main class="index white-text">

    {% for message in app.flashes('success') %}
        <section class="red flow-text row center-align">
            <strong class="col s12 center-align white-text">{{ message }}</strong>
        </section>
    {% endfor %}


        <div class="orangeTransparent section center-align">
            <h2>Merci de votre attention</h2>
            <p class="flow-text">
                Ce projet est réaliser dans le cadre de notre diplôme, en groupe avec Symfony. Les objets présentés ne sont, bien évidemment, pas réellement en vente.
                Aussi nous vous invitons à ne jamais renseigner vos coordonnées bancaires.
            </p>
        </div>

        <div class="indexHouses section">
            <div id="indexHousesGryffondor" class="indexHousesInner">
                <img class="responsive-img"  src="{{ asset('build/images/houses/Gryffondor.png') }}" alt="Gryffondor">
                <h3 class="flow-text">Gryffondor</h3>
            </div>

            <div id="indexHousesSerdaigle" class="indexHousesInner">
                <img class="responsive-img" src="{{ asset('build/images/houses/Serdaigle.png') }}" alt="Serdaigle">
                <h3 class="flow-text">Serdaigle</h3>
            </div>

            <div id="indexHousesPoufsouffle" class="indexHousesInner">
                <img class="responsive-img" src="{{ asset('build/images/houses/Poufsouffle.png') }}" alt="Poufsouffle">
                <h3 class="flow-text">Poufsouffle</h3>
            </div>

            <div id="indexHousesSerpentard" class="indexHousesInner">
                <img class="responsive-img" src="{{ asset('build/images/houses/Serpentard.png') }}" alt="Serpentard">
                <h3 class="flow-text">Serpentard</h3>
            </div>

            <div id="indexHousesPoudlard" class="indexHousesInner">
                <img class="responsive-img" src="{{ asset('build/images/houses/Poudlard.png') }}" alt="Poudlard">
                <h3 class="flow-text">Poudlard</h3>
            </div>
        </div>

        {#
            TODO : METTRE EN PLACE UN SYSTEME DYNAMIQUE : C'EST UN PAS UN BLOG
            La navbar est dynamique les categories de l'index doivent l'être aussi
        #}
        <div class="indexChopsticks center-align">
            <div class="indexChopsticksText center-align">
                <img src="https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/baguettes-ollivander-i.svg" alt="Chopsticks Logo">
                <h3>Les baguettes Ollivander</h3>
                <p class="flow-text">C'est la baguette qui choisit le sorcier...</p>
                <div>
                    <a href="">DÉCOUVRIR NOS BAGUETTES</a>
                </div>
            </div>
            <div class="indexChopsticksImg">
                <img class="responsive-img" src="https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/baguettes-ollivander.webp" alt="Ollivander Wand">
            </div>
        </div>

</main>
{% endblock %}
