{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block h1 'Bienvenue' %}

{% block body %}

<main class="container white-text">

  {% for message in app.flashes('success') %}
  <section class="red flow-text row center-align">
    <strong class="col s12 center-align white-text">{{ message }}</strong>
  </section>
  {% endfor %}


  <div class="orangeTransparent section center-align">
    <h2>Merci de votre attention</h2>
    <p class="flow-text">
      Ce projet est réaliser dans le cadre de notre diplôme, en groupe avec Symfony. Les objets présentés ne sont, bien évidemment, pas réellement en vente.
      Aussi nous vous invitons à ne jamais renseigner vos coordonnées bancaires.
    </p>
  </div>

  <div class="indexHouses section">
    <div id="indexHousesGryffondor" class="indexHousesInner scale-transition">
      <img class="responsive-img"  src="{{ asset('build/images/houses/Gryffondor.png') }}" alt="Gryffondor">
      <h3 class="flow-text">Gryffondor</h3>
    </div>

    <div id="indexHousesSerdaigle" class="indexHousesInner scale-transition">
      <img class="responsive-img" src="{{ asset('build/images/houses/Serdaigle.png') }}" alt="Serdaigle">
      <h3 class="flow-text">Serdaigle</h3>
    </div>

    <div id="indexHousesPoufsouffle" class="indexHousesInner scale-transition">
      <img class="responsive-img" src="{{ asset('build/images/houses/Poufsouffle.png') }}" alt="Poufsouffle">
      <h3 class="flow-text">Poufsouffle</h3>
    </div>

    <div id="indexHousesSerpentard" class="indexHousesInner scale-transition">
      <img class="responsive-img" src="{{ asset('build/images/houses/Serpentard.png') }}" alt="Serpentard">
      <h3 class="flow-text">Serpentard</h3>
    </div>

    <div id="indexHousesPoudlard" class="indexHousesInner scale-transition">
      <img class="responsive-img" src="{{ asset('build/images/houses/Poudlard.png') }}" alt="Poudlard">
      <h3 class="flow-text">Poudlard</h3>
    </div>
  </div>

    {% for category in categories %}

    <div class="indexCategory section row hoverable">

      <div class="indexCategoryText col s12 m6 center-align">

      <img class="responsive-img" src="https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/baguettes-ollivander-i.svg" alt="Chopsticks Logo">

        <h3>{{category.name}}</h3>

        <p>{{category.description}}</p>

        <a class="orangeTransparent white-text hoverable" href="{{ path('ct404_sub_category', {'category': category.id}) }}">DÉCOUVRIR NOS {{category.name}}</a>

      </div>

      <div class="col s12 m6 center-align">

        <img class="responsive-img" src="https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/baguettes-ollivander.webp" alt="">

      </div>

    </div>

  {% endfor %}

  </main>
  {% endblock %}
