{% extends 'base.html.twig' %}

{% block title %}Ct404Professional index{% endblock %}

{% block body %}
    <h1>Ct404Professional index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Siret</th>
                <th>Company</th>
                <th>Contact</th>
                <th>CompanyEmail</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct404_professional in ct404_professionals %}
            <tr>
                <td>{{ ct404_professional.id }}</td>
                <td>{{ ct404_professional.siret }}</td>
                <td>{{ ct404_professional.company }}</td>
                <td>{{ ct404_professional.contact }}</td>
                <td>{{ ct404_professional.companyEmail }}</td>
                <td>{{ ct404_professional.createdAt ? ct404_professional.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ct404_professional.updatedAt ? ct404_professional.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('ct404_professional_show', {'id': ct404_professional.id}) }}">show</a>
                    <a href="{{ path('ct404_professional_edit', {'id': ct404_professional.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct404_professional_new') }}">Create new</a>
{% endblock %}
