{% extends 'base.html.twig' %}

{% block title %}Ct404Role index{% endblock %}

{% block body %}
    <h1>Ct404Role index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RoleName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct404_role in ct404_roles %}
            <tr>
                <td>{{ ct404_role.id }}</td>
                <td>{{ ct404_role.roleName }}</td>
                <td>
                    <a href="{{ path('ct404_role_show', {'id': ct404_role.id}) }}">show</a>
                    <a href="{{ path('ct404_role_edit', {'id': ct404_role.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct404_role_new') }}">Create new</a>
{% endblock %}
