{% extends 'base.html.twig' %}

{% block title %}Ct404Role{% endblock %}

{% block body %}
    <h1>Ct404Role</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct404_role.id }}</td>
            </tr>
            <tr>
                <th>RoleName</th>
                <td>{{ ct404_role.roleName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct404_role_index') }}">back to list</a>

    <a href="{{ path('ct404_role_edit', {'id': ct404_role.id}) }}">edit</a>

    {{ include('ct404_role/_delete_form.html.twig') }}
{% endblock %}
