{% extends 'base.html.twig' %}

{% block title %}Ct404Professional{% endblock %}

{% block body %}
    <h1>Ct404Professional</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct404_professional.id }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ ct404_professional.siret }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ ct404_professional.company }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ ct404_professional.contact }}</td>
            </tr>
            <tr>
                <th>CompanyEmail</th>
                <td>{{ ct404_professional.companyEmail }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ ct404_professional.createdAt ? ct404_professional.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ ct404_professional.updatedAt ? ct404_professional.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct404_professional_index') }}">back to list</a>

    <a href="{{ path('ct404_professional_edit', {'id': ct404_professional.id}) }}">edit</a>

    {{ include('ct404_professional/_delete_form.html.twig') }}
{% endblock %}
