{% extends 'base.html.twig' %}

{% block title %}{{ category }}{% endblock %}

{% block h1 %}{{ category }}{% endblock %}

{% block body %}

    <main class="product">

        <div class="productMessage">
            <p>Ce projet est réaliser dans le cadre de notre diplôme, en groupe avec Symfony. Les objets présentés ne sont, bien évidemment, pas réellement en vente.
                Aussi nous vous invitons à ne jamais renseigner vos coordonnées bancaires.</p>
        </div>

        {% if category == "Baguettes" %}
            <input type="hidden" id="productCategory" value="{{ category }}">
            <div class="productTitle" id="productTitle">
                <div class="productTitleText">
                    <h2>Les baguettes Ollivander</h2>
                    <p>C'est la baguette qui choisit le sorcier...</p>
                </div>
                <div class="productTitleImg">
                    <img src="https://static.warnerbros.fr/static/version1586164106/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/category/header-background-1200-img.webp" alt="Ollivander Wand">
                </div>
            </div>
        {% endif %}
        {% if category == "Vêtements" %}
            <input type="hidden" id="productCategory" value="{{ category }}">
            <div class="productTitle" id="productTitle">
                <div class="productTitleText">
                    <h2>Les vêtements</h2>
                    <p>Chez Madame Guipure, prêt-à-porter pour mages et sorciers</p>
                </div>
                <div class="productTitleImg">
                    <img src="https://static.warnerbros.fr/static/version1586164106/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/category/header-background-1800-img.webp" alt="Guipure Clothing">
                </div>
            </div>
        {% endif %}
        {% if category == "Bijoux" %}
            <input type="hidden" id="productCategory" value="{{ category }}">
            <div class="productTitle" id="productTitle">
                <div class="productTitleText">
                    <h2>Les bijoux</h2>
                    <p>Nos colliers ne sont pas ensorcelés</p>
                </div>
                <div class="productTitleImg">
                    <img src="https://static.warnerbros.fr/static/version1586164106/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/category/header-background-1300-img.webp" alt="Guipure Clothing">
                </div>
            </div>
        {% endif %}
        {% if category == "Papeterie" %}
            <input type="hidden" id="productCategory" value="{{ category }}">
            <div class="productTitle" id="productTitle">
                <div class="productTitleText">
                    <h2>La papeterie</h2>
                    <p>Devenez auteur à succès comme Rita Skeeter</p>
                </div>
                <div class="productTitleImg">
                    <img src="https://static.warnerbros.fr/static/version1586164106/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/category/header-background-1700-img.webp" alt="Stationery">
                </div>
            </div>
        {% endif %}
        {% if category == "Accessoires" %}
            <input type="hidden" id="productCategory" value="{{ category }}">
            <div class="productTitle" id="productTitle">
                <div class="productTitleText">
                    <h2>Les accessoires</h2>
                    <p>Pour les moldus mordus d’Harry Potter</p>
                </div>
                <div class="productTitleImg">
                    <img src="https://static.warnerbros.fr/static/version1586164106/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/category/header-background-1900-img.webp" alt="Accessories">
                </div>
            </div>
        {% endif %}

        <div class="productContent">

            {% for product in products %}
                <article class="productOnly">
                    <div class="productOnlyImg">
                        <img src="https://fontan.io/0x575/media/www.warnerbros.fr/1/b/1b9f61b344ab6db458cd5446298f823f.webp" alt="{{product.name}}">
                    </div>
                    <hr>
                    <div class="productOnlyText">
                        <h3>{{product.name}}</h3>
                        <p>Produit vendu par Ollivander</p>
                        <button type="button">{{product.price}}€</button>
                    </div>
                </article>
            {% endfor %}

        </div>

    </main>

{% endblock %}