{% apply inky_to_html %}
{#  USE AN INKY TEMPLATE  #}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Confirmation Email</title>
        {% for path in encore_entry_css_files('foundation') %}
            <link rel="stylesheet" href="{{ absolute_url(path) }}">
        {% endfor %}
    </head>

    <spacer size="16"></spacer>

    <container>

        <row class="header">
            <columns>

                <spacer size="16"></spacer>
                <h3 class="text-center">Bienvenue 'NOM'</h3>
                <h4 class="text-center">Validation d'email ({{ email.to[0].address }})</h4>
                <p class="text-center"><small>Cet email n'est valable qu'une heure après son envoi</small></p>

            </columns>
        </row>
        <row>
            <columns>

                <spacer size="32"></spacer>

                <center>
                    <img src="{{ absolute_url('/') }}{{ asset('build/images/logo.png') }}" align="center" class="float-center">
                </center>

                <spacer size="16"></spacer>

                <h1 class="text-center">Si vous êtes à l'origine de la demande</h1>
                <h2 class="text-center">vous devez valider votre compte</h2>

                <spacer size="16"></spacer>

                <button class="large expand" href="{{ absolute_url('/') }}confirmation/{{ id }}/{{ token }}">Valider</button>

                <hr/>

                <p class="text-center">
                    <small>Vous acceptez de recevoir des emails, vous pouvez vous désinscrire<a href="#"> ici</a>.</small>
                </p>
            </columns>
        </row>

            <spacer size="16"></spacer>
        </container>
        {% for path in encore_entry_js_files('foundation') %}
            <script src="{{ absolute_url(asset(path)) }}" ></script>
        {% endfor %}

{% endapply %}