{% extends 'base.html.twig' %}

{% block title %}Ct404Commercial index{% endblock %}

{% block body %}
    <h1>Ct404Commercial index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>CommercialForIndividual</th>
                <th>CommercialForProfessional</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct404_commercial in ct404_commercials %}
            <tr>
                <td>{{ ct404_commercial.id }}</td>
                <td>{{ ct404_commercial.firstname }}</td>
                <td>{{ ct404_commercial.lastname }}</td>
                <td>{{ ct404_commercial.commercialForIndividual ? 'Yes' : 'No' }}</td>
                <td>{{ ct404_commercial.commercialForProfessional ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('ct404_commercial_show', {'id': ct404_commercial.id}) }}">show</a>
                    <a href="{{ path('ct404_commercial_edit', {'id': ct404_commercial.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct404_commercial_new') }}">Create new</a>
{% endblock %}
