{% extends 'base.html.twig' %}

{% block title %}Ct404Ordered index{% endblock %}

{% block body %}
    <h1>Ct404Ordered index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>OrderDate</th>
                <th>DeliveryDate</th>
                <th>TotalPrice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct404_ordered in ct404_ordereds %}
            <tr>
                <td>{{ ct404_ordered.id }}</td>
                <td>{{ ct404_ordered.orderDate ? ct404_ordered.orderDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ct404_ordered.deliveryDate ? ct404_ordered.deliveryDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ct404_ordered.totalPrice }}</td>
                <td>
                    <a href="{{ path('ct404_ordered_show', {'id': ct404_ordered.id}) }}">show</a>
                    <a href="{{ path('ct404_ordered_edit', {'id': ct404_ordered.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct404_ordered_new') }}">Create new</a>
{% endblock %}
