{% extends 'base.html.twig' %}

{% block title %}Ct404Particular{% endblock %}

{% block body %}
    <h1>Ct404Particular</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct404_particular.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ ct404_particular.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ ct404_particular.lastname }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ ct404_particular.address }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ ct404_particular.zipCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ ct404_particular.city }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ ct404_particular.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ ct404_particular.pseudo }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ ct404_particular.createdAt ? ct404_particular.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ ct404_particular.updatedAt ? ct404_particular.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ct404_particular_index') }}">back to list</a>

    <a href="{{ path('ct404_particular_edit', {'id': ct404_particular.id}) }}">edit</a>

    {{ include('ct404_particular/_delete_form.html.twig') }}
{% endblock %}
