{% extends 'base.html.twig' %}

{% block title %}Ct404Particular index{% endblock %}

{% block body %}
    <h1>Ct404Particular index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Address</th>
                <th>ZipCode</th>
                <th>City</th>
                <th>PhoneNumber</th>
                <th>Pseudo</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct404_particular in ct404_particulars %}
            <tr>
                <td>{{ ct404_particular.id }}</td>
                <td>{{ ct404_particular.firstname }}</td>
                <td>{{ ct404_particular.lastname }}</td>
                <td>{{ ct404_particular.address }}</td>
                <td>{{ ct404_particular.zipCode }}</td>
                <td>{{ ct404_particular.city }}</td>
                <td>{{ ct404_particular.phoneNumber }}</td>
                <td>{{ ct404_particular.pseudo }}</td>
                <td>{{ ct404_particular.createdAt ? ct404_particular.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ct404_particular.updatedAt ? ct404_particular.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('ct404_particular_show', {'id': ct404_particular.id}) }}">show</a>
                    <a href="{{ path('ct404_particular_edit', {'id': ct404_particular.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ct404_particular_new') }}">Create new</a>
{% endblock %}
